@charset "UTF-8";

@function inverse-odd($index) {
  @return if($index % 2 == 0, 1, -1);
}

@mixin cards-rotation($index) {
  &:nth-child(#{$index}) {
    position: absolute;
    top: $index * 40px;

    -webkit-backface-visibility: hidden;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(inverse-odd($index) * 3deg);
  }
}

.card {
  width: $card-size * $card-width-ratio;
  height: $card-size * $card-height-ratio;
  border-radius: $card-border-radius;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.cards-stack {
  width: $card-size * $card-width-ratio;
  .card {
    @include cards-rotation(1);
    @include cards-rotation(2);
    @include cards-rotation(3);
    &:last-child {
      -ms-transform: rotate(0deg); /* IE 9 */
      -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
      transform: rotate(0deg);
    }
  }
}

.card-heading {
  $header-vertical-padding:   5px;
  $header-value-size:         30px;
  $header-value-line-height:  1;
  $header-symbol-line-height: 1.3;
  $header-symbol-size:        $header-value-size / $header-symbol-line-height;

  height: $header-value-size * $header-value-line-height + $header-vertical-padding * 2;
  padding: $header-vertical-padding 15px;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  .card-value {
    font-size: $header-value-size;
    line-height: $header-value-line-height;
    margin: 0;
    float: left;
  }
  .card-symbol {
    float: right;
    i {
      font-size: $header-symbol-size;
      line-height: $header-symbol-line-height;
    }
  }
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.card-rank {
  float: right;
  &:after {
    font-size: 37px;
    line-height: 1.1;
  }
}

.rank-one {
  .card-rank {
    &:after {
      content: "°";
    }
  }
}

.rank-two {
  .card-rank {
    &:after {
      content: "°°";
    }
  }
}

.rank-three {
  .card-rank {
    &:after {
      content: "°°°";
    }
  }
}